@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.main {
    .container {
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include m.breakpoint(desktop) {
            // justify-content: center;
            align-items: flex-start;
            padding-left: 170px;
        }

        .linea {
            width: 95%;
            // height: 1%;
            // margin: 0 auto;
            border-top: 1.5px solid v.$white;
            // border-bottom: 4px solid v.$white;
            margin-bottom: 40px;

            @include m.breakpoint(desktop) {
                width: 900px;
                margin-left: 25px;
                border-top: 2.2px solid v.$gray_2;
            }
        }

        .linea_tablet {
            @include m.breakpoint(tablet) {
                display: none;
            }
        }

        .articulos {
            .articulo {
                padding: 16px;
                margin: 16px;
                border-radius: 8px;
                position: relative;
                z-index: 1;

                h2 {
                    color: v.$white;
                    text-align: center;
                    font-size: 40px;
                    padding-bottom: 3px;
                    font-weight: bold;

                    @include m.breakpoint(tablet) {
                        text-align: left;
                    }

                    @include m.breakpoint(desktop) {
                        padding: 0;
                        margin: 0;
                        font-size: 38px;
                    }
                }

                p {
                    color: v.$white;
                    text-align: center;
                    font-size: 16px;
                    padding-bottom: 10px;

                    @include m.breakpoint(tablet) {
                        text-align: left;
                    }

                    @include m.breakpoint(desktop) {
                        padding: 0;
                        margin: 0;
                    }
                }
            }

            .oval {
                // position: absolute;
                margin: 0;
                padding: 0;
                overflow: visible;
                // width: 300px;
                // top:100px;
                // right: 100px;

                stroke-width: 1px;
                stroke: v.$gray_2;
                transform: rotate(180deg);

                &__1 {
                    top: -12px;
                    position: absolute;
                    left: -250px;

                    @include m.breakpoint(desktop) {
                        top: 25px;
                        left: -900px;
                    }
                }

                &__2 {
                    position: absolute;
                    top: -26px;
                    left: -250px;

                    @include m.breakpoint(desktop) {
                        top: 15px;
                        left: -900px;
                    }
                }

                &__3 {
                    position: absolute;
                    top: -38px;
                    left: -250px;

                    @include m.breakpoint(desktop) {
                        top: 5px;
                        left: -900px;
                    }
                }

                &__4 {
                    position: absolute;
                    top: -52px;
                    left: -250px;

                    @include m.breakpoint(desktop) {
                        top: -5px;
                        left: -900px;
                    }
                }

                &__5 {
                    position: absolute;
                    top: -68px;
                    left: -250px;

                    @include m.breakpoint(desktop) {
                        top: -15px;
                        left: -900px;
                    }
                }

            }

            // @include m.breakpoint(desktop) {
            //     .oval {
            //         // position: absolute;
            //         margin: 0;
            //         padding: 0;
            //         overflow: visible;
            //         // width: 300px;
            //         // top:100px;
            //         // right: 100px;

            //         stroke-width: 1.2px;
            //         stroke: v.$gray_2;
            //         // transform: rotate(180deg);
            //         margin-bottom: 40px;

            //         &__1 {
            //             bottom: -100px;
            //             position: absolute;
            //             right: 0px;
            //         }

            //         &__2 {
            //             position: absolute;
            //             bottom: -90px;
            //             right: 800px;
            //         }

            //         &__3 {
            //             position: absolute;
            //             bottom: -80px;
            //             right: 800px;
            //         }

            //         &__4 {
            //             position: absolute;
            //             bottom: -70px;
            //             right: 800px;
            //         }

            //         &__5 {
            //             position: absolute;
            //             bottom: -60px;
            //             right: 800px;
            //         }

            //     }
            // }

            @include m.breakpoint(tablet) {
                display: grid;
                gap: 20px;
                grid-template-columns: 1fr 1fr 30%;
                justify-content: start;
                width: 100%;
                padding: 0;
                margin: 0;
                grid-template-areas:
                    "articulo1 articulo2 ."
                    "articulo3 articulo4 ."
                    "articulo5 articulo6 .";

                .articulo:nth-child(1) {
                    grid-area: articulo1;
                }

                .articulo:nth-child(2) {
                    grid-area: articulo2;
                }

                .articulo:nth-child(3) {
                    grid-area: articulo3;
                }

                .articulo:nth-child(4) {
                    grid-area: articulo4;
                }

                .articulo:nth-child(5) {
                    grid-area: articulo5;
                }

                .articulo:nth-child(6) {
                    grid-area: articulo6;
                }
            }

            @include m.breakpoint(desktop) {
                display: grid;
                gap: 10px;
                padding-right: 150px;
                margin: 0;
                grid-template-columns: 1fr 1fr 1fr;
                // justify-content: start;
                width: 100%;
                grid-template-areas:
                    "articulo1 articulo2 articulo3"
                    "articulo4 articulo5 articulo6";

                .articulo:nth-child(1) {
                    grid-area: articulo1;
                }

                .articulo:nth-child(2) {
                    grid-area: articulo2;
                }

                .articulo:nth-child(3) {
                    grid-area: articulo3;
                }

                .articulo:nth-child(4) {
                    grid-area: articulo4;
                }

                .articulo:nth-child(5) {
                    grid-area: articulo5;
                }

                .articulo:nth-child(6) {
                    grid-area: articulo6;
                }
            }
        }

        .main__proyectos {
            position: relative;
            // display: flex;
            // flex-direction: row;
            // align-items: center;
            // justify-content: space-between;
            width: 100%;
            padding: 16px;

            .titulo {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 30px 16px 20px 0px;
                margin-bottom: 25px;

                h2 {
                    font-size: 40px;
                    margin: 0;

                    @include m.breakpoint(tablet) {
                        font-size: 72px;
                    }
                }
            }
        }

        .proyectos {
            width: 100%;

            @include m.breakpoint(tablet) {
                display: grid;
                grid-template-columns: 1fr 1fr; // repeat(2, minmax(0, 1fr));
                gap: 32px;
                // width: 100%;
                align-items: center;

            }

            .proyecto {
                display: flex;
                justify-content: flex-start;
                align-self: start;
                // align-items: start;
                flex-direction: column;
                // padding-bottom: 40px;
                padding: 0 16px 40px 16px;

                img {
                    width: 100%;
                    height: auto;
                    margin-bottom: 20px;

                    @include m.breakpoint(tablet) {
                        // margin:0;
                        padding: 0;
                    }
                }

                h3 {
                    font-size: 28px;
                    margin-bottom: 7px;

                    @include m.breakpoint(tablet) {
                        font-size: 24px;
                    }
                }

                p {
                    font-size: 18px;
                }

                &>p {
                    word-spacing: 20px;
                }

                .habilidades {
                    margin-bottom: 40px;
                    display: flex;
                    justify-content: start;
                    gap: 20px;
                }

                .link {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    margin-top: 20px;
                    margin-bottom: 40px;
                }
            }
        }

        .container__contacto {
            background-color: v.$gray;
            width: calc(100% + 32px);
            margin: 0 -16px;
            padding: 0 16px;
            box-sizing: border-box;
        }

        .contacto {
            padding-bottom: 10px;
            padding-top: 40px;
            position: relative;

            h3 {
                font-size: 40px;
                margin-bottom: 7px;
                text-align: center;

                @include m.breakpoint(tablet) {
                    font-size: 72px;
                }
            }

            p {
                color: v.$white;
                text-align: center;
                font-size: 16px;
                padding: 0 16px 10px 16px;
                // padding-bottom: 10px;
                padding-bottom: 40px;

                @include m.breakpoint(tablet) {
                    max-width: 80%;
                    padding-left: 20vw;
                    box-sizing: border-box;
                    font-size: 18px;
                }

            }

            .formulario {
                background: transparent;
                border-radius: 8px;
                width: 100%;
                max-width: 400px;

                @include m.breakpoint(tablet) {
                    max-width: 80%;
                    padding-left: 20vw;
                    box-sizing: border-box;
                    // display: flex;
                    // flex-direction: column;
                    // justify-content: center;
                    // align-items: center;
                }

                .linea {
                    padding: 0;
                    margin-left: 0;
                    // background-color:red;
                }

                p:last-child {
                    text-align: right;
                    padding-right: 0;
                    padding-top: 10px;
                    padding-right: 20px;
                    padding-bottom: 80px;

                    @include m.breakpoint(tablet) {
                        max-width: 100%;
                    }
                }
            }

            .campo {
                margin-bottom: 25px;
                margin-left: 30px;
            }

            .campo label {
                display: block;
                margin-bottom: 5px;
                color: v.$gray_4;
                font-size: 14px;
                text-transform: uppercase;
            }

            /* Estilos para Name e Email */
            .campo input {
                width: 100%;
                padding: 8px 0;
                border: none;
                // border-bottom: 2px solid #ccc; 
                outline: none;
                background: transparent;
                font-size: 16px;
                box-sizing: border-box;
                transition: border-color 0.3s ease;
                color: white;
            }

            /* Estilos para la Descripción (Textarea) */
            .campo textarea {
                width: 100%;
                padding: 8px 0;
                border: none;
                // border-bottom: 2px solid #ccc;
                outline: none;
                background: transparent;
                font-size: 16px;
                resize: vertical;
                /* Permite al usuario ajustar el tamaño verticalmente */
                box-sizing: border-box;
                transition: border-color 0.3s ease;
                color: white;
            }

            /* Cambia el color de la línea al enfocar el campo */
            // .campo input:focus,
            // .campo textarea:focus {

            // }
            .oval {
                position: absolute;
                bottom: 230px;
                right: 180px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                // gap: -20px;
                z-index: 10;
                margin: 0;
                padding: 0;
                pointer-events: none;

                svg {
                    display: block;
                    width: 220px;
                    height: 70px;
                    fill: none;
                    stroke: v.$gray_2;
                    stroke-width: 1px;
                    margin: 0;
                    padding: 0;
                }

                &__1 {
                    position: absolute;
                    top: -12px;
                    right: 0px;
                }

                &__2 {
                    position: absolute;
                    top: -26px;
                    right: 0;
                }

                &__3 {
                    position: absolute;
                    top: -38px;
                    right: 0;
                }

                &__4 {
                    position: absolute;
                    top: -52px;
                    right: 0;
                }

                &__5 {
                    position: absolute;
                    top: -68px;
                    right: 0;
                }
            }

            .linea__final {
                width: 95%;
                // height: 1%;
                // margin: 0 auto;
                border-top: 1.5px solid v.$white;
                // border-bottom: 4px solid v.$white;
                margin-bottom: 40px;
            }
        }
    }
}

.button {
    a {
        font-size: 16px;
        position: relative;
        display: inline-block;
        // margin-bottom: 40px;
        text-decoration: none;
        color: v.$white;
        text-transform: uppercase;
        letter-spacing: 2.59px;
    }
}

.button a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 3px;
    background-color: v.$green;
}